[2019-11-12 14:08] sseerrggii opened #38 "Improve Readme"
Hi! In @coopdevs we will test vertical-cooperative with Odoo v12

After that I would like to improve Readme file

Do you have some functional documentation?

[2019-11-15 13:55] houssine78 commented on #38
@sseerrggii sorry I just see your message now. Next time just tag me on the issue like this I'll receive a notification on my mail.

My colleague Catherine is working on a documentation. I'll ask here what she had so far. She's part time and will come back tuesday. I'll come back to you with an answer.

[2019-11-18 09:13] sseerrggii commented on #38
Yes, will be great if we can create collaborative documentation :boom:

Maybe here https://github.com/coopiteasy/vertical-cooperative/wiki we can create a English version

[2019-11-19 15:48] houssine78 commented on #38
Hi @sseerrggii, Catherine told me that she's still working on the documentation. She think she'll finish the doc this week, it will be in french so far. We have maybe a partner in Germany that is eager to make the translation to english as we're lacking time.

But as Catherine is not tech and has no account in github she prefer to share the document through google drive. I know Google is the devil

[2019-11-20 09:57] sseerrggii commented on #38
Yes! I love to work with evil

You can invite me with sseerrggii at gmail

[2019-12-10 09:52] sseerrggii commented on #38
Hi @houssine78 ! I see you close this.

My idea was to do this task (improve Readme.md) when I test the modules a bit. I will make a Pull Request that will close the issue. Having issues can help us to manage the pending tasks. Don't you think?

[2019-12-10 11:05] houssine78 commented on #38
Hi @sseerrggii

Yes sorry I though that receiving link to the google doc was putting this task obsolete. Sorry I reopen the issue.

[2020-02-07 14:50] robinkeunen opened #63 "RFC - API Easy My Coop - Investor Wallet Platform"
# RFC API Easy My Coop - Investor Wallet Platform

RFC: Request For Comments.

## Context

Coop IT Easy is part of the project _Synergie_ that aims to build a platform for cooperative and citizens. The goal of the platform is  to

- allow citizens to take shares in the participating cooperatives,
- allow cooperatives to manage subscription request from the platform.

The platform code is on GitHub

[2020-02-11 18:24] remytms commented on #63
Thanks for this work.

I will not split needs between platform and emc as the platform is mainly emc with some more features but rather splitting between emc and the connector. So that, all your needs about the platform should be needs for EMC. And all your needs for EMC should be needs of the connector. So just naming convention, seams more clear for me.

Should we also manage Operation Request ?

[2020-02-12 09:42] robinkeunen commented on #63
@remytms Thank you for the comments. I am splitting platform and emc needs because we will have to install it on both instances, that is EMC instances will talk to the platform without having IWP installed.

Or aye you saying the API points on the platform side won't need any iwp specifics? Let's talk about it _tantôt_.

[2020-02-12 15:58] robinkeunen commented on #63
After a talk with Rémy, I'm leaning towards coding most of the API on easy_my_coop side and add specific modules to iwp (the platform) to manage multiple structures. The ir.rules might give us that for free.

[2020-02-14 10:37] houssine78 commented on #63
@robinkeunen for me if you use the login and password of the structure to connect easy my coop instance to the plateform. You will need to have something on iwp to by pass/delegate the workflow to the stand alone easy my coop of the structure.

Not sure that we can afford a big refactoring from a budget and timing point of view. But it can be discussed of course.

[2020-03-02 17:29] enricostano opened #70 "Easy My Coop application icon"
Hi,
I've noticed that there is no application icon for EMC, in the application launcher the EMC icon is left blank.
I was looking for something like `easy_my_coop/static/description/icon.svg` but I could not find anything.

How do you manage this in your current installations? Thanks!

Screenshot :point_down:

![image](https://user-images.githubusercontent.com/748971/75701162-919b5900-5cb3-11ea-92

[2020-03-04 18:03] robinkeunen commented on #70
Hi @enricostano, don't forget to tag people: we don't get notifications on issues. :-)

The short answer is: we never thought about it, we navigate to the app through the menu bar. Happy to add an icon if you have one in mind.

[2020-03-26 15:12] sseerrggii commented on #70
Hey! I made a quick icon, what do you think?
As long as we don't have someone who can work these kind of things IMO better something than nothing :)

![Screenshot_2020-03-26 Bústia d'entrada - Odoo(1)](https://user-images.githubusercontent.com/2297137/77662144-c9788200-6f7b-11ea-8066-86847a89c4ef.png)

![icon](https://user-images.githubusercontent.com/2297137/77662121-c1b8dd80-6f7b-11ea-918f-2749e

[2020-03-26 18:24] robinkeunen commented on #70
Hi @sseerrggii , I don't see the link between leaves and cooperatives but yes, it's better than nothing :-) Can you make a PR for it?

Thank you!

[2020-03-27 09:18] sseerrggii commented on #70
Hi @robinkeunen

Why leaf? I was thinking on:
* Food coops
* Organic kind of economy, like nature :four_leaf_clover:

About PR, I will need help to know witch files edit, maybe @enricostano can help me with that :wink:

[2020-03-27 11:38] robinkeunen commented on #70
Haha ok, let's go for the leaf :-)

[2020-04-21 10:22] houssine78 commented on #70
a leaf of canabis ?

[2020-04-21 12:25] robinkeunen commented on #70
I'm working on a big PR to integrate OCA conventions to 12.0: https://github.com/coopiteasy/vertical-cooperative/pull/84

@sseerrggii can you make a PR on that branch to add the leaf?

[2020-04-23 09:31] sseerrggii commented on #70
About PR, I will need help to know witch files edit, @enricostano will help me with that

[2020-04-23 12:12] enricostano commented on #70
Yep, will do ASAP.

[2020-04-28 09:39] enricostano opened #90 "[12.0] Is share default_code attribute mandatory?"
Using EMC demo data and going to cooperators list view, the `cooperator_type` field always shows the first share type.

![image](https://user-images.githubusercontent.com/748971/80471761-26cd6d80-8944-11ea-9674-094068a836ae.png)

Cooperator Manuel Dublues actually has "Part B" share, but in the cooperator list view it shows "Part A".

Digging into the code I found that https://github.com/coopiteas

[2020-04-28 09:40] enricostano commented on #90
@houssine78 @robinkeunen @mclaeysb whenever you have some time to give a look at this issue. Thanks!

[2020-04-30 09:02] houssine78 commented on #90
Hi @enricostano Yes this field is mandatory when is_share is checked. Is made from the view side as we don't want to force it for every product.

Here is the place where we made it required conditionnaly
https://github.com/coopiteasy/vertical-cooperative/blob/12.0/easy_my_coop/views/product_view.xml#L58

I hope it helps

[2020-04-30 09:14] enricostano commented on #90
@houssine78 ok, so we should add this in our demo data https://github.com/coopiteasy/vertical-cooperative/blob/12.0/easy_my_coop/demo/coop.xml#L83

Right?

In any case, I will investigate a bit more since adding a `default_code` to the shares doesn't solve the issue. I'll report back ASAP. Thanks!

[2020-04-30 09:34] houssine78 commented on #90
@enricostano yes you should add it there. I see that the subscription register is not filled in the demo data if you added demo data for share line you should add the corresponding line in the subscription register.

normally modifying the default code on the share should trigger a recomputation of the cooperator type according to this line https://github.com/coopiteasy/vertical-cooperative/blob/1

[2020-06-08 14:53] houssine78 commented on #70
PR merged, I close the issue then.

[2020-06-08 14:53] #70 closed, assigned to nobody

[2020-08-10 09:58] #63 closed, assigned to mclaeysb, houssine78, remytms, vdewulf, vvrossem

[2020-08-17 19:42] ichdamola opened #118 "[12.0] TypeError: Model 'base.config.settings' does not exist in registry."
#### I got the following error while installing the "Easy My Coop" module.

[code]

[2020-08-17 20:08] ichdamola commented on #118
### To reproduce the error, clone the [module repo](https://github.com/coopiteasy/vertical-cooperative/tree/12.0/easy_my_coop) into the local-addons folder of Odoo 12, and try to install it, having set debug=true and update app.
![1](https://user-images.githubusercontent.com/20647487/90439023-c6b62f00-e0cc-11ea-89b2-cda04d246937.png)
![2](https://user-images.githubusercontent.com/20647487/90439054

[2020-09-23 09:32] cesarlr opened #125 "Problem testing easy_my_coop_api when adding public entry point"
@robinkeunen
I am experimenting problems running CI tests when I try to setup a public entry point based on "base_rest" module in Odoo. I use your code in `easy_my_coop_api` but adding a new collection changing `api_key` with `public`.

This is the code:
[code]
When I call the code it goes right, but when I test it (tests of subscription request service in emc_api and my new public-api ones), it o

[2020-09-29 14:50] robinkeunen commented on #125
@cesarlr This week has been a bit hectic so far but I've got this under my radar :-)

[2020-10-01 16:17] robinkeunen commented on #118
Hi @adedamola-ad , I can install from scratch at home. Are you sure you configured the addons-path right? It should look like:

[code]

[2020-10-01 16:18] robinkeunen commented on #90
@enricostano @houssine78 can we close this issue?

[2020-10-01 16:19] robinkeunen commented on #38
@sseerrggii @houssine78 Now that the documentation website is under way, can we close this issue?

[2020-10-01 16:26] robinkeunen commented on #125
Hi @cesarlr, I looked at the code but I don't have a clue! Can you make a pr with your code so that I can pull it and test it locally?

[2020-10-01 18:21] sseerrggii commented on #38
Yes @robinkeunen ! Also the github project have a good readme now! :heart:

[2020-10-05 08:03] #38 closed, assigned to nobody

[2020-10-13 06:50] cesarlr commented on #125
Finally I have no more time for this. Maybe I can continue this task in the future.
Thanks!

[2020-10-13 06:50] #125 closed, assigned to nobody

[2020-11-26 08:11] danypr92 opened #138 "[12.0] Migrate cooperators data from another ERP."
Hi,

We are working on Partner data migration from another ERP to Odoo, using the EMC modules to manage the memberships.

When we are importing the partner data, we can't import the `effective_date` because it is a computed field that depends on `share_ids`.

Can we create partners with `effective_date` without creating `share_lines`?
Do you have experience in this kind of data migration with memb

[2020-11-26 12:26] enricostano commented on #138
@danypr92 remember mentioning @robinkeunen or @houssine78 if you want them to get a notification.

[2020-11-26 16:31] houssine78 commented on #138
Hi @danypr92 in fact for importing data to odoo from external data. We do it sticking to the EMC workflow.

It means that instead of importing directectly data in res_partner. You import the data in the subscription request.

So the steps should be :
- import the subscription request
- deactivate the ongoing mail server in Odoo
- validate the subscription request
- import the bank statement for al

[2020-12-01 09:42] enricostano commented on #90
Yes, thanks!

cc/ @danypr92 @cesarlr

[2020-12-01 09:42] #90 closed, assigned to nobody

[2020-12-18 12:31] Patrickkappert opened #143 "Loan issues"
When you open a loan issue and someone inscribes you validate and then you pass it over to Paid. But there is no "register payment wizard" to register the money entrance at the bank and the account of the financial balance where it has to be apointed. We have to make the accounting entry by hand?

[2020-12-21 14:29] robinkeunen commented on #143
@Patrickkappert Yes, we did not link the payments into that module so far. We made a makeshift system [here](https://github.com/coopiteasy/vertical-cooperative/pull/144) (@vvrossem ) as our customer does not use accounting.

Maybe @houssine78 will have more to say?

[2020-12-21 14:45] houssine78 commented on #143
Hi @Patrickkappert we are on the making of improvements of the loan module which will integrate the accounting for loan.

that improvement will allows you to register the payment through the standard bank statement reconciliation. once you activate the accounting on loan mngt https://github.com/coopiteasy/vertical-cooperative/pull/134

This PR brings improvements on easy_my_coop_loan and add two m

[2020-12-21 15:52] Patrickkappert commented on #143
I have a test server so I could try and get back with observations.. Where is the code available as a download? Some repository?

[2020-12-21 20:56] houssine78 commented on #143
@Patrickkappert the code is [here](https://github.com/coopiteasy/vertical-cooperative/tree/12.0-loan-improvements). But I still need to rebase on the 12.0 branch. It'll be probably done by Wednesday.

[2021-01-12 09:41] danypr92 commented on #138
Thanks @houssine78!

We ended up creating a script with ERPPeek:

https://gitlab.com/coopdevs/migration-tryton-odoo-somconnexio-scripts/-/blob/master/erppeek/erppeek-script.py

[2021-01-12 09:41] #138 closed, assigned to nobody

[2021-01-12 13:22] houssine78 commented on #138
you're welcome @danypr92 @enricostano

I see that you bypass the standard workflow. In your script, you create share line for the cooperator with a quantity of one. So I suppose that each cooperator has only one share.

Your script doesn't seem to create a subscription register (this is different to the subscription request). The subscription register is the share register of the cooperative. It's

[2021-01-12 15:40] enricostano commented on #138
Exactly, in the majority of cases in Spain you can only own 1 share of cooperative capital.

We're aware, more or less :sweat_smile: . In this specific case we hope it will not create issues in the future. But in any case we should update the script taking in account subscription register :+1:

[2021-01-14 08:18] Patrickkappert opened #147 "tickets pos in web portal"
In the website portal there is a view of the total amount of purchases but not all the tickets generated for the client at the point of sale.

[2021-01-18 10:56] robinkeunen commented on #147
Indeed, please submit a PR, we will review and maybe integrate it :-)

[2021-01-21 06:33] Patrickkappert commented on #147
I found this: https://apps.odoo.com/apps/modules/12.0/pos_website/

for 25 euros.

[2021-01-21 10:04] #147 closed, assigned to nobody

[2021-01-21 10:05] robinkeunen commented on #147
Nice, feel free to install it on your side :-)

[2021-01-21 10:06] #118 closed, assigned to nobody

[2021-04-06 16:06] eugenichafer opened #154 "Why is allowed to create Cooperators whit 0 as Cooperator Number?"
A problem that we have repeatedly encountered with costumers is that new cooperators can be created from the view "EMC->Contacts->Cooperators".  These cooperators have "0" as a cooperator number. We don't understand why this is possible. Maybe it was usefull to hide "Create" button in this view

https://user-images.githubusercontent.com/64070973/113742044-814d7d00-9702-11eb-8194-1cc18cce72ed.mov

[2021-04-12 14:03] enricostano commented on #154
@houssine78 @robinkeunen would you mind to review this issue?

[2021-04-19 09:33] houssine78 commented on #154
@enricostano @eugenichafer in fact a cooperator is not created directly from the form view. We always have to follow the standard subscription flow. As the cooperator number is a integer the default value 0 is given by Odoo in standard for all the integer field AFAIK.

In addition, the cooperator number is not displayed as far as the effective cooperator field is not True (checkbox ticked).

it's

[2021-04-20 07:23] enricostano commented on #154
Thanks @houssine78 !

I understand the technical aspect, the main issue is that users are creating "members" by mistake and we're getting a good number of support tickets related to this.

We'll investigate your "no_create" suggestion and see if we can propose a PR. Bye!

[2021-05-10 14:49] enricostano commented on #154
@houssine78 is it possible that your PR https://github.com/coopiteasy/vertical-cooperative/pull/158 would help to solve this issue?

[2021-05-12 17:21] houssine78 commented on #154
@enricostano no it won't. This is just to display the field cooperator for non admin and in read only

[2021-07-05 14:01] enricostano commented on #154
@houssine78 @robinkeunen what about setting `member` and `coop_candidate` fields as `readonly` in the form view?

[2021-07-13 17:20] robinkeunen opened #170 "RFC Moving Easy My Coop to OCA"
Easy My Coop, also developped originally for the BEES coop but is now used by 25+ cooperatives. Additionnaly other IT cooperatives (coopdevs, cooperatic) are starting to use and contribute to the solution for their own customers.

At Coop IT Easy, we believe it's time to go further than just applying the AGPL license and to *really* make this project Open Source. By that we mean

- bring together

[2021-10-26 14:33] #154 closed, assigned to nobody

[2021-11-18 09:51] victor-champonnois opened #181 "RFC Remake the subscription request website form"
We propose to remake the subscription request website form from scratch.

# Why do it ?

The actual form template has several issues:
- code redundancy between company and non-company form
- use of HTML table for "Part number" field
- display issues for small screens (mobile)

# What do we need to do ?

Redo the templates from scratch:
- use HTML5 input + custom JS for the part number field
- use

[2021-11-25 16:19] enricostano commented on #181
WOW, nice! :clap:

cc/ @daniquilez

[2022-01-19 14:44] robinkeunen commented on #170
![emc_dependencies](https://user-images.githubusercontent.com/3082119/150379092-b08d1eb6-deb2-470f-90bf-1ef64c30f40c.png)

[2022-01-27 15:35] polchampion commented on #170
### Listing vertical-cooperative modules to be reorganised, by depth wrt `easy_my_coop`

**Depth 1**
- [x] `easy_my_coop`
- [ ] `partner_age`
- [ ] `website_recaptcha_reloaded`

**Depth 2**
- [ ] `easy_my_coop_be`
- [ ] `easy_my_coop_fr`
- [ ] `easy_my_coop_ch`
- [ ] `easy_my_coop_es`
- [ ] `easy_my_coop_es_website`
- [ ] `easy_my_coop_api`
- [ ] `easy_my_coop_api_logs`
- [ ] `easy_my_coop_website

[2022-02-01 16:16] polchampion opened #203 "Rename `easy_my_coop` to `cooperator`"
- [x] rename `easy_my_coop` to `cooperator`
- [x] merge  with property_cooperator_account functionality from `easy_my_coop_es`
- [x] repercussions

related PR :
- https://github.com/coopiteasy/vertical-cooperative/pull/202
- https://github.com/beescoop/Obeesdoo/pull/312
- https://github.com/coopiteasy/investor-wallet-platform/pull/74

[2022-02-01 17:11] #170 closed, assigned to robinkeunen, remytms

[2022-02-01 17:32] robinkeunen opened #204 "General project management - komunigi - 2 - technical axis"
As of early 2022, axis 2 of the **komunigi** project is starting in earnest.

For context, see the overarching issues [RFC Moving Obeesdoo and Easy My Coop to OCA #247](https://github.com/beescoop/Obeesdoo/issues/247) and [RFC Moving Easy My Coop to OCA #170](https://github.com/coopiteasy/vertical-cooperative/issues/170).

The present issue encompasses project management tasks relating to the tech

[2022-02-21 15:07] polchampion opened #207 "Rename `easy_my_coop_be` to `l10n_be_cooperator`"
- [x]  Rename `easy_my_coop_be` to `cooperator_be`

Estimated time - 8h

Module contains these functionalities :
- Belgian legal form on partner
- Default values for communications on invoice

[2022-02-21 15:12] polchampion opened #208 "Rename `easy_my_coop_fr` to `l10n_fr_cooperator`"
- [ ]  Rename `easy_my_coop_fr` to `cooperator_fr`

Estimated time - 8h

Module contains these functionalities :
- French legal form on partner
- Remove IBAN field from required subscription request fields

[2022-02-21 15:14] polchampion opened #209 "Rename `easy_my_coop_ch` to `l10n_ch_cooperator`"
- [ ]  Rename `easy_my_coop_ch` to `cooperator_ch`

Estimated time - 8h

Module contains these functionalities :
- Swiss legal form on partner

[2022-02-21 15:21] polchampion opened #210 "Split and rename `easy_my_coop_es` to `l10n_es_cooperator`"
- [x]  Move the following `easy_my_coop_es` functionality to `cooperator` (Change property_cooperator_account to not accept deprecated account)
- [x] Rename `easy_my_coop_es` to `cooperator_es`
- [x] https://github.com/coopiteasy/vertical-cooperative/issues/211

Estimated time - 8h

Module contains these functionalities :
- Change property_cooperator_account to not accept deprecated account
- Add

[2022-02-21 15:30] polchampion opened #211 "Merge `easy_my_coop_es_website` into `l10n_es_cooperator`"
- [ ] Merge `easy_my_coop_es_website` with the following `easy_my_coop_es` functionality (Add tax identification to subscription request and partner)
- [ ] Rename the merged `easy_my_coop_es` and `easy_my_coop_es_website` to `cooperator_es`

Estimated time -  16h

Module contains the following functionality :
- add tax identification to subscription request website form

[2022-02-24 09:48] polchampion opened #213 "Rename `easy_my_coop_api` to ` cooperator_api`"
- [ ]  Rename `easy_my_coop_api` to ` cooperator_api`

Estimated time - 16h

Module contains these functionalities :
- Easy my Coop RESTful API

[2022-02-24 09:55] polchampion commented on #213
@robinkeunen `easy_my_coop_api_logs`and `easy_my_coop_connector` are not included in [this diagram](https://user-images.githubusercontent.com/17589077/149750369-34ea7875-4afa-41dc-afa9-cb66113ba6bc.png) - will they be merged into `cooperator_api` or renamed to new modules?

[2022-02-24 09:58] polchampion opened #214 "Rename `easy_my_coop_website` to `cooperator_website`"
- Rename easy_my_coop_website to cooperator_website

[2022-02-24 10:02] polchampion opened #215 "Rename `easy_my_coop_website_portal` to `cooperator_portal`"
- [ ]  Rename `easy_my_coop_website_portal` to `cooperator_portal`

Estimated time - 16h

Module contains these functionalities :
- Let cooperators connect to portal and see their documents

[2022-02-24 10:44] polchampion opened #216 "Move `easy_my_coop_taxshelter_report` to `l10n_be_cooperator`"
- [ ]  Rename `easy_my_coop_taxshelter_report` to `cooperator_be_taxshelter`

Estimated time - 16h

Module contains these functionalities :
- Belgian fiscal declaration for Tax Shelter

[2022-02-24 11:08] polchampion opened #217 "Rename `easy_my_coop_loan` to (`account_loan_issue ` ?)"
- [ ] Rename `easy_my_coop_loan` to `account_loan_subscription`, `account_loan_issue` (?)
- [ ] merge with `oca/account-financial-tools/account_loan`

Estimated time : 16h

Module contains the following functionalities:
- Loan management

[2022-02-28 14:36] polchampion opened #219 "`partner_age`"
- [ ] Remove existing module `partner_age`
- [ ] Replace it with the OCA module `partner_contact_birthdate` : https://github.com/OCA/partner-contact/tree/12.0/partner_contact_birthdate
     - Rename dependencies
     - Check that it works

Module contains the following functionality:
- Add age computation on partner

[2022-02-28 14:39] polchampion commented on #219
@coccinouille Peux-tu détailler les actions ? Je n'ai pas bien compris ce qu'il fallait faire pour ce module.

[2022-02-28 14:41] polchampion opened #220 "`website_recaptcha_reloaded`"
- [ ] target : `website_recaptcha`

Module contains the following functionality:
- Integrate Google recaptcha in forms

[2022-02-28 14:41] polchampion opened #221 "Rename `website_recaptcha_reloaded` to `portal_recaptcha`"
- [ ] `website_recaptcha` (formely `website_recaptcha_reloaded`) should be named `portal_recaptcha`
- [ ] leave `portal_recaptcha` in _vertical-cooperative_

[2022-02-28 14:45] victor-champonnois commented on #219
Todo:
- Supprimer le module existant
- le remplacer par le module OCA https://github.com/OCA/partner-contact/tree/12.0/partner_contact_birthdate
    - renommer les dépendances
    - vérifier le fonctionnement

[2022-03-08 10:17] robinkeunen opened #224 "Write a script to launch the migration script on all databases"
Write a script to launch the migration scrip on all databases
- script is at the root of vertical-cooperative

[2022-03-08 10:18] robinkeunen opened #225 "Align Coop IT Easy CI to OCA CI"

[2022-03-08 10:20] robinkeunen opened #226 "Remove beesdoo_base from beesdoo_shift dependencies"
PR: https://github.com/beescoop/Obeesdoo/pull/314

[2022-03-08 10:51] robinkeunen commented on #214
@remytms tu peux relire et compléter la spec ?

[2022-03-08 10:53] victor-champonnois commented on #224
Does it make sense to update the databases that contains module that has not been migrated yet (e.g. bees ?) Migrating will fail for these DB. So maybe the script should take the name of the DB to update as input ?

[2022-03-08 10:56] carmenbianca opened #227 "Remove jquery.inputmask.bundle.js"
Task: https://gestion.coopiteasy.be/web#id=8191&view_type=form&model=project.task&action=475&active_id=221

[2022-03-08 15:02] robinkeunen commented on #224
The command to launch the migration script :
[code]

[2022-03-08 15:36] #181 closed, assigned to robinkeunen, remytms

[2022-03-08 16:07] #225 closed, assigned to carmenbianca

[2022-03-08 17:25] carmenbianca commented on #224
Two scripts.

Super basic bash script:

[code]

Python script with some filtering + creating new databases:

[code]

**!!! CAUTION !!!**

The test server currently has _too little spare storage space_ to perform the above script!

**!!! CAUTION !!!**

How to make this better:

- [x] Better filtering. Some test databases like `brasseriedurenard-komunigi-test-u-all-04-03-2022` are not filtered out.

[2022-03-09 08:39] victor-champonnois commented on #224
From what I understand of your script the reference database is now called like *-komunigi-test and the migrated database is called *komunigi-test-renamedep-<date>. Is it correct ?
If yes, the *u-all-07-03-2022 databases are useless and can be removed now ?

[2022-03-09 09:34] carmenbianca commented on #224
@coccinouille The migrated database is called `[...]-komunigi-test-renamedep-yyyy-mm-ddThh-mm`. Whether the `u-all` databases are useless, I don't really know. Maybe?

[2022-03-09 10:29] victor-champonnois commented on #207
@polchampion c'est en test sur https://oufticoop.test.coopiteasy.be/

[2022-03-09 15:07] robinkeunen commented on #224
I find them useful to start from a restored database without actually restoring a new backup + update all + install mass_operation_abstract.

[2022-03-09 15:08] robinkeunen commented on #224
So I guess these databases should be filtered out as well.

[2022-03-09 15:16] carmenbianca commented on #224
@robinkeunen Should we instead filter on `.*-test$`?

[2022-03-09 15:18] robinkeunen commented on #224
looks good yes.

[2022-03-09 15:49] carmenbianca commented on #224
:thumbsup: Adjusted the script above to do that instead.

[2022-03-09 17:20] robinkeunen commented on #226
Extract member card module will be done later (focusing on vertical-cooperative)

[2022-03-09 17:43] robinkeunen opened #232 "rebase PR from Thibault (Polln) sur Obeesdoo sur obeesdoo/12.0"

[2022-03-09 17:48] #232 closed, assigned to robinkeunen

[2022-03-10 17:01] polchampion commented on #219
[EDITED] Je vois que les deux modules sont installés sur oufticoop

[2022-03-10 17:07] polchampion commented on #226
@robinkeunen `beesdoo_base` est toujours mentionné dans les dépendances de `beesdoo_shift`
Je ne sais pas s'il y a vraiment quelque chose à tester sinon ?

[2022-03-10 17:18] polchampion commented on #207
@coccinouille Testé et approuvé

[2022-03-10 17:33] polchampion commented on #203
@robinkeunen A tester ou pas encore ? Si oui, où ? J'imagine qu'il faut tester tout le flux EMC. Je n'ai pas compris ce qu'était cette fonctionnalitéproperty_cooperator_account, par contre.

[2022-03-11 10:05] victor-champonnois commented on #219
@polchampion C'est en test sur oufticoop.test.coopiteasy.be
- C'est normal que les deux modules soient installés. On ne supprime pas le module partner_age car il est encore utilisé ailleurs.
- J'imagine qu'il faut juste tester que le calcul de l'age se fasse bien dans EMC.

[2022-03-11 10:10] polchampion commented on #219
Il y a un moyen de voir où exactement ce calcul est utilisé dans EMC ? En tous cas si c'est la valeur affichée sur le Contact dans l'onglet Informations personnelles, ça a l'air de marcher exactement pareil.

[2022-03-11 10:15] robinkeunen commented on #226
Bien vu, je n'ai pas été au bout du déploiement.

[2022-03-11 10:35] victor-champonnois commented on #219
OK, oui c'est seulement sur le modèle partner, donc je pense que c'est OK.

[2022-03-11 10:36] robinkeunen commented on #226
@polchampion c'est déployé sur pour les supermarchés du serveur de test (càd pas komunigi).

[2022-03-11 10:40] robinkeunen commented on #203
@polchampion A tester mais plutot sur la PR liée (cf colonne de droite). Pour tester : suivre un flux classique de prise de part. Pas besoin d'aller dans le détail pour le moment.

La "fonctionnalité property_cooperator_account" déplace une contrainte sur le compte du journal de souscription d'un module à celui-ci. Le but de cette contraindre est de restreindre les comptes assignables au journal à

[2022-03-11 14:21] robinkeunen opened #233 "Integrate rename_deprecated_module.py into the migration scripts"

[2022-03-11 14:36] robinkeunen commented on #204
Done on 2022-02-11 :

- creation of
    - https://github.com/oca/cooperative
    - https://github.com/oca/shift-planning
    - https://github.com/oca/vertical-cooperative-supermarket
- backport (sort of) OCA-CI on these repositories on branch 12.0
- creation of cooperative PSC (Robin, Rémy, Houssine, Eugeni)
- renaming of
    - easy_my_coop, easy_my_coop_be, easy_my_coop_fr, easy_my_coop_api
    -

[2022-03-11 15:34] victor-champonnois commented on #208
@polchampion en test sur demain.komunigi.test.coopiteasy.be/

[2022-03-15 16:32] carmenbianca opened #236 "Replace French source strings in l10n_be_cooperator with English"
Found while doing #235.

[2022-03-16 10:15] victor-champonnois commented on #217
@polchampion @robinkeunen on est sûr du nom pour celui là ? Il ne faut pas quelque chose de plus précis ? Il y a un module OCA qui s'appelle [account_loan](https://apps.odoo.com/apps/modules/12.0/account_loan/)

[2022-03-17 10:07] robinkeunen commented on #210
Leaving this one to coopdevs @enricostano

[2022-03-17 10:07] robinkeunen commented on #211
Leaving this one to coopdevs @enricostano

[2022-03-17 10:12] robinkeunen commented on #217
@victor-champonnois The best would be to merge it with the module from the OCA. Let's leave it on the side for now as it is used very little.

[2022-03-17 13:07] carmenbianca opened #241 "Remove disabled constraint unique_number on res.partner.bank"
OCA won't accept this disabled constraint. We should move it to a custom module or sanitise our clients' databases.

https://gestion.coopiteasy.be/web#id=9262&action=475&active_id=221&model=project.task&view_type=form&menu_id=536

Fixed by https://github.com/coopiteasy/vertical-cooperative/pull/310

Replaced by https://github.com/coopiteasy/addons/pull/226

- [x] deploy in test
- [x] notify Pol
-

[2022-03-17 18:23] #217 closed, assigned to victor-champonnois

[2022-03-18 10:55] robinkeunen opened #244 "rename easy_my_coop_connector to cooperator_connector"

[2022-03-21 10:44] robinkeunen opened #245 "Rename easy_my_coop_payment_term to cooperator_capital_release_payment_term"

[2022-03-21 10:44] robinkeunen opened #246 "Rename easy_my_coop_website_taxshelter to l10n_be_cooperator_portal"

[2022-03-22 10:40] robinkeunen opened #251 "Refactor `get_accounting_account` : do not look for 416000"
In https://github.com/coopiteasy/vertical-cooperative/blob/1875bed073c6c49efef12f4de642eaef94ea5ec3/easy_my_coop/models/subscription_request.py#L534 : do not rely on 416000 as it is specific to Belgian charts of account. Rely solely on configuration instead.

[2022-03-23 08:12] victor-champonnois commented on #214
@robinkeunen Je vois un premier problème : website_recaptcha dépends de website.

[2022-03-23 08:14] victor-champonnois commented on #214
@robinkeunen Note : website_recaptcha dépends de website, donc website sera installé dans tous les cas si on a besoin du captha. Est-ce que ça affecte la tâche ?

[2022-03-23 14:30] robinkeunen commented on #214
@victor-champonnois I think you should remove the dependency to website in `website_recaptcha` as well. You will need to move the configurations introduced in `view_website_config_settings` elsewhere meaningful. Other than that, I do not think we need the dependency.

@remytms do you agree with this.

[2022-03-23 17:27] #215 closed, assigned to robinkeunen

[2022-03-23 17:27] #216 closed, assigned to carmenbianca

[2022-03-23 17:28] #209 closed, assigned to victor-champonnois

[2022-03-24 10:02] #246 closed, assigned to robinkeunen

[2022-03-24 10:02] #245 closed, assigned to robinkeunen

[2022-03-24 13:52] #208 closed, assigned to victor-champonnois

[2022-03-24 13:52] #207 closed, assigned to victor-champonnois

[2022-03-24 13:55] robinkeunen commented on #220
cf https://github.com/coopiteasy/vertical-cooperative/issues/221

[2022-03-24 13:55] #220 closed, assigned to nobody

[2022-03-24 13:55] #213 closed, assigned to carmenbianca

[2022-03-24 13:55] #203 closed, assigned to robinkeunen

[2022-03-24 13:56] #143 closed, assigned to nobody

[2022-03-24 14:00] #210 closed, assigned to nobody

[2022-03-24 14:37] #211 closed, assigned to nobody

[2022-03-24 16:40] robinkeunen opened #258 "Unbrand cooperator"

[2022-03-24 16:40] robinkeunen opened #259 "Unbrand cooperator_api"

[2022-03-24 16:40] robinkeunen opened #260 "Unbrand cooperator_api_logs"

[2022-03-24 16:40] robinkeunen opened #261 "Unbrand cooperator_portal"

[2022-03-24 16:40] robinkeunen opened #262 "Unbrand l10n_be_cooperator"

[2022-03-24 16:40] robinkeunen opened #263 "Unbrand l10n_be_cooperator_portal"

[2022-03-24 16:40] robinkeunen opened #264 "Unbrand l10n_ch_cooperator"

[2022-03-24 16:41] robinkeunen opened #265 "Unbrand l10n_es_cooperator"

[2022-03-24 16:41] robinkeunen opened #266 "Unbrand l10n_fr_cooperator"

[2022-03-28 12:54] victor-champonnois commented on #214
@polchampion After discussing with Robin and Rémy, we need help on the functional side for this task.
Basically, if we do this task, we will lose the top bar that permits someone going to the Odoo website and who is not logged in to click on the "Become Cooperator"  button. This means that the front end form will only be accessible by clicking on a link from another website (le site vitrine).
The

[2022-03-28 13:12] victor-champonnois commented on #214
@robinkeunen @remytms After discussing with @polchampion , the conclusion is not to do it.
- some client use the website module for other stuff than just accessing the form
- It would add more work to the analysts to determine whether a client is actively using website or not, and whether it should be uninstalled.
- For these clients, the automated task to add the button on the top bar that is cur

[2022-03-29 08:27] robinkeunen commented on #214
Ok 👌 Thanks for the investigation !

[2022-03-30 08:56] robinkeunen opened #279 "cooperator module demo data : rely on standard module demo data"
cf title. For example : do not create new partners, use marc_demo.

Also remove inconsistent demo. eg. cooperators w/o cooperator number nor share lines and stuff

[2022-03-31 08:44] carmenbianca opened #283 "Refactor recaptcha code out of `cooperator_website` into module `cooperator_portal_recaptcha`."
Raised in #231

edited to reflect reality after @victor-champonnois ' comment:

cooperator_website depends on `portal_recaptcha` (formerly `website_recaptcha_reloaded` or `website_recaptcha`), which is not in the OCA.

Possible solutions:

1. Move `portal_recaptcha` into this repository as `cooperator_portal_recaptcha`, then later maybe consider moving it to a different OCA repo as `website_recapt

[2022-03-31 08:54] victor-champonnois commented on #283
Note : actually it's going to be called "portal_recaptcha", since it does not depend on `website` anymore, but on `portal`.

[2022-03-31 15:39] polchampion commented on #203
@robinkeunen Tested share subscription flow for BE, FR and CH. Feedback in [this document](https://docs.google.com/spreadsheets/d/11mkW2B-j0T1avBgMMcGClrWtRO5OUlbUUv5XoMdd1fY/edit#gid=0)

[2022-03-31 15:57] robinkeunen opened #284 "Refactor res_partner.cooperator"
cooperators are `res.partner` w/ cooperator field set to True

Wouldn't it be cleaner to have a model cooperator model that inherits res.partner ?

Or a model membership ? like in coopiteasy/investor_wallet_platform_base or oca/membership

[2022-03-31 15:59] robinkeunen opened #285 "refactor subscription.request.create function"
https://github.com/coopiteasy/vertical-cooperative/blob/9d60318ae4a2ae2bf3ab914bc57bb5f553a38cb4/easy_my_coop/models/subscription_request.py#L87-L93

[2022-03-31 16:01] robinkeunen opened #286 "refactor states in easy_my_coop"
Inconsistent state names:

[code]
Inconsistent function names for state change :
[code]
=> use consistent naming, "subscription_request" is useless

+ What is the difference between waiting and blocked ?

+ enforce constraints consistent with the button display

+ maybe use / refactor update_state defined in emc_api

+ check the constraints and visibility of state changes :

+ visibility of valida

[2022-03-31 16:03] robinkeunen opened #287 "When taking more shares from the backend for existing cooperator: not taken into account in partner form."
Lorsqu'on fait une demande de souscription depuis le back end pour un coopérateur existant (augmentation des parts), si on change les infos dans la demande, ce n'est pas changé dans la fiche contact.

A voir si c'est souhaitable?

[2022-03-31 16:06] robinkeunen opened #288 "remove "subscription" from subscription.request.type selection"
In subscription request form, `type` field has three option :
1. subscription
2. new cooperator
3. capital increase

Check `subscription` in indeed useless and remove it from selection.

[2022-03-31 16:07] robinkeunen opened #289 "UX: reorganise configurations"
@enricostano coopdevs had some ideas about this.

[2022-04-01 08:20] robinkeunen opened #290 "Fix test matrix for cooperator and dependencies"
I encountered module incompatibilities in vertical-cooperative tests, il you run

1) -i easy_my_coop_api

=> it passes

2) -i easy_my_coop_api --test-enable

=> fails because of missing record: Exception: Cannot update missing record 'easy_my_coop.subscription_journal'

3) -i easy_my_coop,easy_my_coop_api --test-enable

=> fails because of field from emc_api accessed from emc

2021-12-16 13:35:32,

[2022-04-01 08:26] carmenbianca commented on #290
Encountered approximately this issue, but with updating instead of testing.

`cooperator_api` cannot be updated if `cooperator` is not updated at least once.

### Steps to reproduce

1. On faba671d460cfb41dc0d431fa2ce67956fafa4eb (12.0-komunigi at time of writing), install `cooperator_api` on a fresh database.
2. Restart Odoo with `-u cooperator_api`. This fails.
3. Try again with `-u cooperator,c

[2022-04-01 09:00] carmenbianca commented on #265
Nothing to do.

[2022-04-01 12:55] victor-champonnois commented on #214
Related PR:
1. For removing website dependency in website_recaptcha, and renaming to portal_recaptcha
- https://github.com/coopiteasy/vertical-cooperative/pull/272 (in vertical coop)
- https://github.com/coopiteasy/addons/pull/218 (in addons)

2. For renaming easy_my_coop_website to cooperator_website
- https://github.com/coopiteasy/vertical-cooperative/pull/292 (vertical coop)
- https://github.co

[2022-04-02 17:04] robinkeunen opened #294 "generate all .pot and po (after renaming modules and xml_ids)"
there's a good number of translation issues in the document. they can be divided into several categories:

1. expected. the source term was changed/newly introduced/never translated.
2. unexpected. the translation value _differs_ from the translation provided by the module. these need to be either manually fixed or force-updated.
3. differently translated between `fr` and `fr_BE`. Is there a reaso

[2022-04-02 17:14] robinkeunen opened #295 "As an existing user, I can't subscribe to a share in the online form"
- odoo finds an existing user
- click on "do you have an account" and login

=> some (required) fields are not filled
<img width="871" alt="Screenshot 2022-04-02 at 19 13 55" src="https://user-images.githubusercontent.com/3082119/161393851-93e26e8c-f7c6-4119-84c5-2e8195eecd5c.png">

[2022-04-02 17:19] robinkeunen opened #296 "As a cooperator user, I cannot register a payment when prisme_invoice_swiss_qrbill is installed"
"pas ok : erreur quand clic sur le menu Demande de libération de capital ""ValueError: Le champ `qrcode_status` n'existe pas

Contexte de l'erreur :
Vue `account.invoice.form`
[view_id: 507, xml_id: account.invoice_form, model: account.invoice, parent_id: n/a]"""

(cf Le Nid)

[2022-04-02 17:20] robinkeunen opened #297 "As a cooperator user, I cannot add a share subscription to a cooperator"
[code]

[2022-04-02 17:21] #265 closed, assigned to carmenbianca

[2022-04-04 09:30] carmenbianca commented on #297
Fixed by #293

[2022-04-04 09:35] carmenbianca commented on #244
Semi-blocked by #271, which touches some code in this module, but I think it'll be trivial to resolve the merge conflict.

[2022-04-06 08:34] victor-champonnois commented on #233
Also I added some migrations queries in the fix_dbs.sh script, maybe I should put it in the "rename_deprecated_module.py" ?

[2022-04-06 08:40] victor-champonnois commented on #295
Assignin myself since it's related to the form

[2022-04-06 16:25] vdewulf commented on #296
Actually, same issue when clicking on Comptabilité > Factures clients.
I suppose this is an issue related to the module prisme_invoice_swiss_qrbill is installed (or a certain version of this module).
On production DB, no issue.
On test DB (https://lenid.test.coopiteasy.be/), no issue either.
On https://lenid.komunigi.test.coopiteasy.be/ DB, there is an issue.
I don't know if this investigation can

[2022-04-06 16:32] vdewulf commented on #214
@victor-champonnois I wanted to test this (I understood that's what you merged and deployed this morning). On which database can I test it (I want to make sure I'm testing the right code)?
And what is to be tested exactly? I understand you removed some dependencies but finally not all of them, so what would be the thing to be tested at the end?
Do we need to test this on a customer test database w

[2022-04-06 16:57] vdewulf commented on #295
@victor-champonnois I tested again because someone wrote on our test document that he was unable to reproduce.
Here is the video:
https://drive.google.com/file/d/12K9jTA2fZthW1wWhX_VWiztyjGdx86ob/view?usp=sharing
I tested on oufticoop.komunigi.test.coopiteasy.be but then also on https://oufticoop.test.coopiteasy.be/
I understand that this issue is not related to the renaming, but related to the up

[2022-04-07 07:13] victor-champonnois commented on #214
@vdewulf
- You can test it on any komunigi databases (oufticoop, lenid, demain).
- To be tested : that the captcha and the captcha settings works, and more broadly that all the website part of easy_my_coop (basically the subscription form) works. Also check that translations works for captcha settings and website form.
- I think testing on customer database is enough, since we have the CI to check

[2022-04-07 07:27] victor-champonnois commented on #295
@vdewulf @polchampion
Thank you for the video virginie :)
Actually the issue is not related to the update of the form, but to the renaming, since the error does not happen on non-komunigi test databases (see https://oufticoop.test.coopiteasy.be/become_cooperator for instance). So it is not high priority I believe, since it is not a bug in prod.

I'll look into it !

[2022-04-07 07:55] vdewulf commented on #295
@victor-champonnois I was able to reproduce the same issue on https://oufticoop.test.coopiteasy.be/become_cooperator
I don't know if my message was clear enough. So it's not related to the renaming.

[2022-04-07 08:52] victor-champonnois commented on #295
@vdewulf OK sorry I see the bug now.

It only happens after validating the form once. If you click on "Do you already have an account" while in the `https://oufticoop.test.coopiteasy.be/page/become_cooperator` page it's OK. But after a first validation it goes to the https://oufticoop.test.coopiteasy.be/page/suscribe_share url. Then clicking on "Already have an account" redirect to https://ouftico

[2022-04-07 09:43] robinkeunen commented on #233
@victor-champonnois I rather think you should put the query in the `pre-migration.py` file of `cooperator_website`.

[2022-04-07 09:56] victor-champonnois commented on #233
OK :+1:

[2022-04-08 13:40] robinkeunen commented on #296
@vdewulf It is now working : no code fix, it was a problem of server configuration.

[2022-04-08 13:54] robinkeunen opened #303 "Refactor `subscription/subscribe_share ` route so that noqa: C901 (method too complex) can be removed"
https://github.com/coopiteasy/vertical-cooperative/blob/b1f887c9c1bf8ecb1ee482c5ceaddf3d03dc6273/easy_my_coop_website/controllers/main.py#L381-L387

[2022-04-11 09:39] #296 closed, assigned to robinkeunen

[2022-04-11 13:15] #297 closed, assigned to carmenbianca

[2022-04-11 14:00] victor-champonnois commented on #295
@vdewulf it's deployed in test (in 12-test DBs, not komunigis DB) oufticoop.test.coopiteasy.be for instance

[2022-04-13 16:28] robinkeunen commented on #221
~~close in favor of https://github.com/coopiteasy/vertical-cooperative/issues/214~~

[2022-04-13 16:47] robinkeunen commented on #214
# State of the issue 2022-04-13

## Refactor website_recaptcha_reloaded

`website_recaptcha_reloaded` was renamed `website_recaptcha` and moved from _vertical-cooperative_ to *addons*

- https://github.com/coopiteasy/vertical-cooperative/pull/231
- https://github.com/coopiteasy/addons/pull/216
	- should point to banch `12.0-komunigi`
- https://github.com/beescoop/Obeesdoo/pull/313
	- should point

[2022-04-13 16:48] robinkeunen commented on #214
@carmenbianca @victor-champonnois état du travail ici

[2022-04-13 17:11] robinkeunen commented on #214
@vdewulf il va encore y avoir des changements substantiels sur cette tâche, pas la peine de tester tout de suite

[2022-04-14 06:52] vdewulf commented on #214
ok, merci, j'attends votre GO
-----Original Message-----From: Robin Keunen ***@***.***>Reply-To:
coopiteasy/vertical-cooperative <
***@***.***>To:
coopiteasy/vertical-cooperative ***@***.***>Cc:
vdewulf ***@***.***>, Mention ***@***.***>Subject:
Re: [coopiteasy/vertical-cooperative] Rename `easy_my_coop_website` to
`cooperator_website` (Issue #214)Date: Wed, 13 Apr 2022 10:11:20 -0700

@vdewulf il

[2022-04-14 12:44] carmenbianca commented on #283
Link to description of situation: https://github.com/coopiteasy/vertical-cooperative/issues/214#issuecomment-1098270958

[2022-04-14 12:44] carmenbianca commented on #283
I take this.

[2022-04-14 12:47] victor-champonnois commented on #283
Noted, I think you should start working on top of this branch : https://github.com/coopiteasy/vertical-cooperative/pull/292

[2022-04-14 12:51] robinkeunen commented on #214
@victor-champonnois @carmenbianca merge into `12.0-komunigi` in each repo (vertical-cooperative and obeesdoo) as soon as the CI is green and reviews are green. Let's simplify the deployments.

[2022-04-14 13:07] carmenbianca commented on #214
@robinkeunen I was just going to suggest that. There is no starting here unless I merge a whole lot of stuff.

[2022-04-14 13:30] #264 closed, assigned to carmenbianca

[2022-04-14 13:30] #263 closed, assigned to carmenbianca

[2022-04-14 13:30] #259 closed, assigned to carmenbianca

[2022-04-14 13:30] #260 closed, assigned to carmenbianca

[2022-04-14 13:30] #266 closed, assigned to carmenbianca

[2022-04-14 13:31] #262 closed, assigned to carmenbianca

[2022-04-14 15:00] #258 closed, assigned to robinkeunen

[2022-04-15 12:56] carmenbianca opened #311 "`cooperator_portal` has `website` as dependency"
@victor-champonnois Do you know why this is?

[2022-04-15 13:14] victor-champonnois commented on #311
@carmenbianca
I haven't work on this module, but in my understanding is the following:
The website dependency is needed in the controller (the routes have a `website=True` option, which provides some website integration). There was a discussion [here](https://github.com/coopiteasy/vertical-cooperative/pull/257) about whether we should keep this dependency for the frontend form, and the result was

[2022-04-15 13:31] victor-champonnois commented on #283
@carmenbianca (and @robinkeunen FYI)

My understanding of the option 4 that we chose:
AS IS:
-  `cooperator_website` containing the form with the captcha, depending on `portal_recaptcha`
-  `portal_recaptcha` : a generic module that allow to insert recaptcha in any page that depends on portal (and by extension on website).

TO BE:
- `cooperator_website` containing only the form
- `portal_recaptcha

[2022-04-15 14:15] robinkeunen commented on #283
👍

[2022-04-20 11:51] Ujeeee opened #313 "cannot find dependency modul "partner_contact_birthdate""
I cannot install Easy My Coop module, because I was missing the "partner_contact_birthdate" module, but I cannot find it anywhere, in this repository or in the addons repository

[2022-04-20 12:52] robinkeunen commented on #313
Hi there,

`partner_contact_birthdate` is in [oca/partner-contact](https://github.com/oca/partner-contact). You can find all the repositories we depend on here: https://github.com/coopiteasy/vertical-cooperative/blob/12.0/oca_dependencies.txt

[2022-04-28 15:46] robinkeunen commented on #204
2022-04-28 @victor-champonnois @carmenbianca @polchampion

# State

- Renaming `easy_my_coop` modules is done [emc project](https://github.com/orgs/coopiteasy/projects/2/views/2)
- Unbranding `cooperator` modules is mostly done [emc project](https://github.com/orgs/coopiteasy/projects/2/views/2)
- Extracting beesdoo_x functionalities to new modules has started [beesdoo project](https://github.com/

[2022-05-10 08:04] Ujeeee commented on #313
thanks for your reply, I will look for this ASAP

On Wed, Apr 20, 2022 at 7:52 PM Robin Keunen ***@***.***>
wrote:

[2022-05-17 08:07] victor-champonnois opened #318 "Bug with cooperator_type"
Bug (found on urbike test) that happens when two shares have the same default_code. If a partner become cooperator with one of the share with the default_code equals to another share, the cooperator_type is not correct.
Bug found by @polchampion

[2022-05-17 08:10] victor-champonnois opened #319 "Prevent blank share short_name in the form"
The front-end form uses the short name of the share. If the short name is left empty, the name of the share in the form is therefore blank.
Two potential fixes:
- use full name instead of short name
- use full name if short name is empty

[2022-05-17 15:28] victor-champonnois commented on #294
@polchampion suite à la réunion sur les traductions, voici ou on en est là dessus.

Il faut les traduire sur la DB blank.komunigi.test.coopiteasy.be. J'y ai chargé les trois langues (fr-fr, fr-be, fr-ch). J'imagine que c'est toi ou moi qui devont s'en charger.
**-> Done**

De ce qu'on a conclu de la réunion c'est qu'il ne faut pas changer les changements faits par les clients sur leur propre DB. R

[2022-05-18 09:05] victor-champonnois commented on #233
@huguesdk Tu sais ce qu'il en est de cette tâche ? Je sais pas trop en quoi ça consiste...

[2022-05-18 09:24] victor-champonnois commented on #294
@polchampion Comme je suis bloqué sur l'avancement de komunigi par ça et que j'ai un peu de temps je vais m'en occuper.

[2022-05-18 11:40] huguesdk commented on #233
i remember pleading in favor of using migration scripts in the deprecated modules to handle the whole modules and data migration : renaming data tables and renaming modules, or installing the new ones and uninstalling themselves, and the new ones could handle the data renaming in their own migration scripts. i think the latter is more where we’re going, isn’t it? the general idea is to be able to

[2022-05-18 12:04] victor-champonnois commented on #233
ok, The situation now is:
- the renaming of modules is done with a [separate script](https://github.com/coopiteasy/vertical-cooperative/blob/12.0-komunigi/rename_deprecated_modules.py)
- the data migration is done with in-modules migration scripts.

It would take quite some time to put all the renaming into in-modules migration scripts. I am not sure it is worth it, since it should only be run onc

[2022-05-23 13:48] victor-champonnois commented on #233
@huguesdk up sur cette question :)

[2022-05-23 14:24] huguesdk commented on #233
i don’t know whether it would be worth it or not for this use case. what would be nice to have, at least, is an easy way to rename an installed module by either updating it or installing the new one, because it could be useful in the future for other modules. maybe a way is already documented somewhere?

i see that the script is quite simple. at least a test with one module (using `openupgrade.upd

[2022-05-24 07:59] victor-champonnois opened #321 "Bad name in capital release request"
Retour de test de @polchampion
What has been done : "Trouver le certificat de coopérateur en ligne et vérifier les données "
What's wrong : 'Le nom affiché sur la demande de libération de capital d'une personne physique qui est un contact lié est "Nom de la société, Nom propre"'

[2022-05-24 08:01] victor-champonnois opened #322 "[IMP] Move partner.id field on top of form"
@polchampion proposes the following improvement
Action : Reprise de part pour personne physique en back end
Improvement : déplacer le champ partner.id au début du formulaire, en-dessous de la case à cocher already_cooperator. Renommer le nom du champ en "Contact (if existing)".

[2022-05-24 08:04] victor-champonnois opened #323 "[IMP] form button to connect if company already coop"
@polchampion proposes the following improvement :

Action : Reprise de part pour personne morale via le formulaire
Improvement : ajouter le bouton sur le formulaire personne morale pour se connecter en tant que utilisatrice-société si la société est déjà coop

[2022-05-24 08:37] victor-champonnois opened #324 "Error when doing sub request from contact page"
related to this fix : https://github.com/coopiteasy/vertical-cooperative/pull/293

[code]

[2022-05-25 08:57] victor-champonnois commented on #233
@huguesdk @carmenbianca
I made a few tests :
What is working now is the following:
Keep a minimal "easy_my_coop" module with only a manifest a pre-migration script. This script:
- rename the xml_ids (by also changing the module name, ex : easy_my_coop.id -> cooperator.id) Note : this script is copy pasted from the cooperator pre-migration, only changing the module names to easy_my_coop.
- delete t

[2022-05-27 08:36] victor-champonnois commented on #233
@huguesdk Bon c'est confirmé, l'installation écrase les données avec noupdate=True. Donc la méthode n'est pas applicable.
Pour info, je rajoute en complément que j'ai essayé la même méthode en renommant le module (avec update_module_names en post-migration ou pre-migration) plutôt qu'en installant/désinstallant, mais ça ne fonctionne pas (j'ai des erreurs que je ne comprends pas avec "savepoint").

[2022-05-27 08:48] victor-champonnois commented on #233
- j'ai demandé de l'aide sur sur Odoo-fr

[2022-05-27 12:28] victor-champonnois commented on #233
conclusion from meeting with @huguesdk : we looked for a way to rename modules in easy_my_coop's pre-migration, but it raises an error after the pre-migration (during the update of easy_my_coop), probably because odoo cannot found the data to update, since they were renamed :
`odoo.exceptions.MissingError: ('One of the records you are trying to modify has already been deleted (Document type: Modul

[2022-05-30 15:56] victor-champonnois commented on #233
Followup after Sylvain Le Gal's answer. The following method works and preserves the data (tested by modifying mail template data). I copy his answer :

See the PR https://github.com/coopiteasy/vertical-cooperative/pull/326 for the code

Le gros bonus c'est qu'on peut utiliser cette méthode pour splitter les modules : on ajoute plusieurs dépendances dans l'ancien module et on renomme les xml_id au

[2022-05-31 15:27] victor-champonnois commented on #233
discussion with Pol:
- we don't have time to do this for vertical cooperative, because it should be deployed mid-June (so deployed in test soon)
- this method will be great for refactoring obeesdoo

[2022-05-31 16:27] #295 closed, assigned to victor-champonnois

[2022-06-03 09:29] victor-champonnois commented on #204
@robinkeunen
Recap vertical-cooperative:
- tests are OK (see [here](https://docs.google.com/spreadsheets/d/11mkW2B-j0T1avBgMMcGClrWtRO5OUlbUUv5XoMdd1fY/edit#gid=791555568))
- deployed in 12-test since 1st of June
- need to review this : https://github.com/coopiteasy/vertical-cooperative/issues/219
- See the discussion with Hugues about integrating migration script in modules https://github.com/coo

[2022-06-03 09:39] victor-champonnois commented on #204
Recap Obeesdoo:
- Beesdoo_account refactoring is deployed, tested and OK. https://github.com/beescoop/Obeesdoo/pull/385
- Beesdoo_base refactoring is mostly done, with some interrogation about what to do with remaining functionalities. https://github.com/beescoop/Obeesdoo/pull/384
- Beesdoo_product and beesdoo_website_eater : started to work on it
- We should try to have all migration scripts insi

[2022-06-03 09:53] victor-champonnois commented on #219
@robinkeunen There is an issue now since both partner_age and partner_contact_birthdate are installed: both add "Age" to the contact form. So I think we should reconsider removing partner_age (and using partner_contact_birthdate for beesdoo_easy_my_coop).
The only relevant difference seems to be that partner_age implements a `_search` method on age, while partner_contact_birthdate does not. Maybe

[2022-06-06 15:09] robinkeunen commented on #219
@victor-champonnois I think proposing the PR to the OCA and removing `partner_age` is the way to go.

[2022-06-07 08:19] #261 closed, assigned to victor-champonnois

[2022-06-07 08:21] robinkeunen commented on #224
@victor-champonnois improves (speed) the script for 12-test and prepares a script for 12-prod.

[2022-06-07 08:21] #283 closed, assigned to carmenbianca

[2022-06-07 08:22] robinkeunen commented on #241
@carmenbianca I saw you worked on this, can you link the PR here and update the task status ?

[2022-06-07 08:23] #214 closed, assigned to victor-champonnois

[2022-06-07 08:23] #221 closed, assigned to victor-champonnois

[2022-06-07 08:25] robinkeunen commented on #233
Moved to https://github.com/orgs/beescoop/projects/2/views/2

[2022-06-07 08:25] #294 closed, assigned to nobody

[2022-06-07 08:26] #236 closed, assigned to nobody

[2022-06-07 08:26] robinkeunen commented on #244
Dropped project.

[2022-06-07 08:26] #244 closed, assigned to carmenbianca

[2022-06-07 09:39] victor-champonnois commented on #219
@polchampion Could you test this one ?
To test:
- Age is correctly computed
- No 'age' field duplication
- beesdoo_easy_my_coop requires to be >18 to be a worker, otherwise the partner is recorded as "eater" during the susbcription request -> Check that this behavior applies correctly.

[2022-06-07 09:44] victor-champonnois commented on #224
The deployment script (to be tested in 12-test during a non-busy hour)
[code]

[2022-06-07 13:02] polchampion commented on #219
@victor-champonnois L'âge est toujours en double sur `bees` ([la mise à jour du module](https://bees.test.coopiteasy.be/web#id=298&action=36&model=ir.module.module&view_type=form&menu_id=5) n'est pas complète)

[2022-06-08 12:55] victor-champonnois commented on #219
@polchampion Sorry, I fixed it, but the test server moves a lot currently. I'll ping you again when it's OK to test.

[2022-06-09 16:18] robinkeunen commented on #290
This has nothing to do with `cooperator_api` :

- install `cooperator` on new database
- query database, no subscription journal exists:

[code]
- install `cooperator` again

=> it is now in database

Not sure where to start... It seems that something deletes the journal on the first initialisation.

[2022-06-09 16:35] robinkeunen commented on #290
Definitely here ? When initialising the database, odoo executes this :

[code]

We have to understand how to either protect the accounting demo data or load it after this function is executed.

[2022-06-13 08:29] polchampion commented on #219
@victor-champonnois je peux tester encore cette aprèm/max mercredi si tu me dis que c'est ok.

[2022-06-13 09:15] victor-champonnois commented on #219
@polchampion C'est OK pour tester cette aprem :+1:

[2022-06-15 12:22] victor-champonnois opened #331 "Rename subscription.request to coop.share.request"
Subscription.request is too generic. Coop.share.request is more precise and mention the cooperative aspect.

[2022-06-17 09:42] #251 closed, assigned to carmenbianca

[2022-06-21 10:08] #313 closed, assigned to nobody

[2022-06-21 10:09] robinkeunen commented on #219
@victor-champonnois ok to close this issue?

[2022-06-21 10:09] #219 closed, assigned to victor-champonnois

[2022-06-21 10:10] robinkeunen commented on #224
@victor-champonnois closing this as we decided
- to use the script for the deployment next week
- to avoid using a script altogether for obeesdoo modules.

[2022-06-21 10:10] #224 closed, assigned to victor-champonnois

[2022-06-21 10:13] #226 closed, assigned to robinkeunen

[2022-06-21 10:14] #233 closed, assigned to huguesdk, victor-champonnois

[2022-06-21 10:14] robinkeunen commented on #241
@carmenbianca up

[2022-06-21 10:18] #311 closed, assigned to victor-champonnois

[2022-06-22 07:46] carmenbianca commented on #241
@robinkeunen added links to PRs

I don't think there's an Odoo task related to this. It's just Komunigi.

[2022-06-29 05:49] Ujeeee opened #335 "Docker compose deployment"
Dear developers, can you make docker compose version so it is easy to deploy in docker environment. Maybe with just docker-compose up and the system is ready with all addons ready to install.

[2022-06-29 12:37] robinkeunen commented on #335
Hi Ujeeee, we have no Docker skills at Coop IT Easy to do that, maybe @enricostano ? Anyway, you're welcome to submit a PR. :-)

Do you intend to use those modules yourself ? Welcome !

[2022-06-30 13:46] enricostano commented on #335
Hi @Ujeeee !
This repository contains only Odoo modules, it's not a stand-alone application. You need to install Odoo community edition (with [docker](https://github.com/Tecnativa/doodba) if you want) and install the modules offered by this repository.

[2022-07-06 01:02] Ujeeee commented on #335
I have odoo 14 running in docker. I see you guys are making the migration
to version 14. Maybe I will wait until some module is ready for odoo 14.

On Thu, Jun 30, 2022 at 8:47 PM Enrico Stano ***@***.***>
wrote:

[2022-07-06 08:07] robinkeunen commented on #335
Yes, coming soon indeed :-)

[2022-07-06 08:49] Ujeeee commented on #335
Great, thanks!

On Wed, Jul 6, 2022 at 3:07 PM Robin Keunen ***@***.***>
wrote:

[2022-07-07 08:17] victor-champonnois opened #340 "Permission error validating a draft request"
Error happened when testing beesdoo_base but was also found in a DB with cooperator and without beesdoo_base.
https://github.com/beescoop/Obeesdoo/pull/384

- Testing beesdoo_base split on lenid.test.coopiteasy.
- Creation of a user who has only the right to use cooperative management and accounting (
- login with this user
- go to cooperators menu and validate a draft request (to male the whole p

[2022-07-07 09:01] XavierBonetViura opened #341 "Reason for get company from 2 different sources in function WebsiteSubscription.fill_values()"
Hi!

In [SomEnergia](https://github.com/Som-Energia) we are collaborating with [CoopDevs](https://github.com/coopdevs) in a project [Singulars](https://blog.somenergia.coop/etiqueta/projecte-singulars/) that require to implement 'multicompany' capability to some of the set of Easy-my-coop (vertical-cooperative) modules.

On this process we detect that inside this module: https://github.com/coopite

[2022-07-07 09:18] enricostano commented on #341
@robinkeunen what do you think? Thanks!

[2022-07-11 09:23] carmenbianca commented on #227
Another temporary solution found in https://github.com/coopiteasy/vertical-cooperative/pull/339/commits/c3d33850c9c30710b7d6a00af31c296136f055a8 from #339

[2022-07-13 13:14] robinkeunen commented on #341
Hi @XavierBonetViura and thanks for contributing. I don't see a good reason for using these different calls. Moreover, `def _company_default_get` is marked as deprecated in the code. So please go ahead and make the change 👍

Note that as of version 13.0, the good way to fetch the company will be `env.company`.

[2022-07-13 13:52] victor-champonnois opened #345 "Incorrect computation of cooperator_type ?"
In `cooperator`, the field `cooperator_type` is computed in the following manner:
[code]

This will set `cooperator_type` to the first `share_type` in the `share_line` table. In the case when a cooperator has several share types, the first one will arbitrarily be chosen.
It is technically possible for a cooperator to have several share types (no constraints exists), so this could be an issue.

[2022-07-13 13:57] robinkeunen commented on #345
Until we find a foolproof way of doing this (needs to check the analysts), fetching the share created last could be a good heuristic.

[2022-07-18 15:01] enricostano commented on #345
Hi @robinkeunen and @victor-champonnois !

We're migrating right now a quite big cooperative (6k members) and we face this specific issue since it is a [multi stakeholder coopderative](https://uwcc.wisc.edu/resources/multi-stakeholder-cooperatives/) and the same member could pertain to different membership "categories" at the same time.

Translated to EMC... ehm, sorry... Cooperator language, it m

[2022-07-19 09:02] enricostano commented on #318
I guess that this could be related to https://github.com/coopiteasy/vertical-cooperative/issues/345

[2022-07-19 10:05] XavierBonetViura commented on #341
Hi @robinkeunen. Ok, thanks for your reply.

[2022-07-19 10:54] enricostano commented on #345
Also related, I guess: https://github.com/coopiteasy/vertical-cooperative/blob/12.0/cooperator/models/operation_request.py#L167-L168

[2022-07-21 08:42] victor-champonnois opened #348 "12.0 move send_mail_with_multiple_attachments in separate module"
- the method `send_mail_with_multiple_attachments` from l10n_be_cooperator should be put in a separate modules in addons.
- it could be proposed to the OCA.

We could also use [this module](https://github.com/OCA/social/tree/13.0/mail_template_multi_attachment), after backporting it to 12 or forward porting it to 14.

[2022-07-26 13:33] robinkeunen commented on #345
Hi @enricostano

I agree we could do better with the cooperator list. One way of doing so is to have something similar to what we did in [investor-wallet-platform](https://github.com/coopiteasy/investor-wallet-platform/) to allow multiple memberships. We could also get inspiration from oca/vertical-association.

In both case, the modules add a "membership" model separate from the partner.

[2022-07-27 12:53] robinkeunen opened #350 "Integrate partner_contact_address to cooperator module"
**Goal**
Remove `partner_contact_address` dependencies of `cooperator` since it is not in the oca.
`partner_contact_address` adds a _representative_ type to partners. Other types are

[code]

**Suggestion**

My first idea was
- add the selection type to cooperator module
- remove the dependency of `cooperator` to `partner_contact_address`
- uninstall the module at lesptitspots
- delete the module

[2022-07-28 12:55] victor-champonnois opened #351 "14to12: remove old_member from cooperator_list"
Remove `old_member` from the [domain](https://github.com/coopiteasy/vertical-cooperative/blob/35443a5179fff137b1f7e69a09cc7b9b17412343/cooperator/views/res_partner_view.xml#L195) in the cooperator contact tree/kanban list.

Done in v14, could be done in v12
task : https://gestion.coopiteasy.be/web#id=8962&action=475&active_id=260&model=project.task&view_type=form&menu_id=536

[2022-07-28 12:59] victor-champonnois opened #352 "14to12: Remove Create button in Subscription Register"
"Create" open a readonly form, it is useless.

Done in v14, could be done in v12
issue from this task : https://gestion.coopiteasy.be/web#id=8962&action=475&active_id=260&model=project.task&view_type=form&menu_id=536

[2022-07-28 13:05] victor-champonnois opened #353 "14to12: Improve translations"
- remove fr_be translation (it is the same as the fr translation, plus translations works additively, we can put only BE specific changes in fr_be, we don't need to maintain a parallel .po file)
- translate mail_templates

Done in v14 (for french), could be done in v12
task : https://gestion.coopiteasy.be/web#id=8962&action=475&active_id=260&model=project.task&view_type=form&menu_id=536

[2022-07-28 13:09] victor-champonnois opened #354 "14to12: Remove mention of "bees" in become_cooperator email placeholders"

[2022-07-28 13:11] victor-champonnois opened #355 "14to12 : remove update cooperator info button"
The button is not useful. It updates the contact based on the subscription request info. The wizard seems to be never used and it is not well designed (the interface is misleading). If there are missing data in the contact that are in the sub request, it is the write method of contact that should be improved.

see this [task](https://gestion.coopiteasy.be/web#id=8923&action=475&active_id=260&model

[2022-07-28 13:12] robinkeunen opened #356 "Remove dependency to `email_template_config`"

[2022-07-28 13:12] robinkeunen opened #357 "Migration to version 14"
- [ ] https://github.com/coopiteasy/vertical-cooperative/pull/339
- [ ] cooperator_api
- [ ] cooperator_api_logs
- [ ] https://github.com/coopiteasy/vertical-cooperative/pull/334
- [ ] https://github.com/coopiteasy/vertical-cooperative/pull/338
- [ ] https://github.com/coopiteasy/vertical-cooperative/pull/342
- [ ] https://github.com/coopiteasy/vertical-cooperative/pull/347
- [ ] https://github.co

[2022-07-28 13:15] victor-champonnois opened #358 "14to12 Add cooperator registration number in demo data"
Done in v14, could be done in v12
issue from this task : https://gestion.coopiteasy.be/web#id=8962&action=475&active_id=260&model=project.task&view_type=form&menu_id=536

[2022-07-28 13:26] robinkeunen opened #359 "Move modules to the OCA"
Depends on

- https://github.com/coopiteasy/vertical-cooperative/issues/350
- https://github.com/coopiteasy/vertical-cooperative/issues/227
- https://github.com/coopiteasy/vertical-cooperative/issues/356
- https://github.com/coopiteasy/vertical-cooperative/issues/357

[2022-07-28 13:30] victor-champonnois commented on #358
changes in v14 are in [this PR](https://github.com/coopiteasy/vertical-cooperative/pull/339)

[2022-07-28 13:30] victor-champonnois commented on #355
changes in v14 are in [this PR](https://github.com/coopiteasy/vertical-cooperative/pull/339)

[2022-07-28 13:30] victor-champonnois commented on #354
changes in v14 are in [this PR](https://github.com/coopiteasy/vertical-cooperative/pull/339)

[2022-07-28 13:30] victor-champonnois commented on #353
changes in v14 are in [this PR](https://github.com/coopiteasy/vertical-cooperative/pull/339)

[2022-07-28 13:30] victor-champonnois commented on #352
changes in v14 are in [this PR](https://github.com/coopiteasy/vertical-cooperative/pull/339)

[2022-07-28 13:30] victor-champonnois commented on #351
changes in v14 are in [this PR](https://github.com/coopiteasy/vertical-cooperative/pull/339)

[2022-07-28 14:27] robinkeunen commented on #204
2022-07-28 state of komunigi

2022-04-28 @victor-champonnois @carmenbianca @polchampion

# EMC
## Done

- Renaming `easy_my_coop` modules is done [emc project](https://github.com/orgs/coopiteasy/projects/2/views/2)
- Unbranding `cooperator` modules is done [emc project](https://github.com/orgs/coopiteasy/projects/2/views/2)
- All of this was deployed for our v12 customers

## Next Steps

- https:/

[2022-08-04 15:29] robinkeunen commented on #341
cf https://github.com/coopiteasy/vertical-cooperative/pull/342/commits/f419d6e022812e4458de0d40c37457d13f6b7258

[2022-08-04 15:29] #341 closed, assigned to nobody

[2022-08-16 13:58] polchampion commented on #350
@robinkeunen I don't have a full picture yet, but here's below what I understand.

But first, is this work on v12, v14 or both at the same time? This module was just ported to v14, so I guess a refactoring would need to affect v14 as well.

For me, there is a difference by design: "adding a contact as representative" is meant as a general feature and put in the module `partner_contact_address` (no

[2022-08-17 08:34] robinkeunen commented on #350
@polchampion

Yes, it will have to affect both versions.

From what you say, I still don't see the difference. It seems to me these are two technical solutions to address the same functional problem. Moreover, `cooperator` depends on `partner_contact_address`.

As is, there are no limits whatsoever to the number of representative in the code. I would have thought that we would need one to know who

[2022-08-17 08:41] vdewulf commented on #350
@robinkeunen and @polchampion
I didn't ready all your text, I have too much to do ritght now.
My knoledge about the topic:
- representative boolean was meant to create the company subscription and being able to link an existing person from the database to a company
- representative type was meant to remove the side effect of the "normal" link between a company and an individual in Odoo, whici is t

[2022-08-17 15:02] robinkeunen commented on #340
cf https://github.com/beescoop/Obeesdoo/pull/427

[2022-08-18 09:05] robinkeunen commented on #345
# Audit cooperator_type

## cooperator

The field is defined on `res.partner` here :

https://github.com/coopiteasy/vertical-cooperative/blob/35443a5179fff137b1f7e69a09cc7b9b17412343/cooperator/models/partner.py#L159-L164

https://github.com/coopiteasy/vertical-cooperative/blob/35443a5179fff137b1f7e69a09cc7b9b17412343/cooperator/models/partner.py#L102-L109

Issues:
- can't handle several share typ

[2022-08-18 15:12] robinkeunen commented on #345
Décision :

=> ajouter un champs séquence / hierarchie (pas de ir.sequence) sur les types de part
=> requis si le produit est une part
=> attention initialisation existant vs nouvelle base

[2022-08-31 14:06] enricostano commented on #345
@robinkeunen would be great to have a small chat about this changes, would you mind a call next week? Thanks!

[2022-09-01 08:33] robinkeunen commented on #345
Hey @enricostano, sure. I'm available monday-tuesday-wednesday mornings.

[2022-09-01 12:01] #357 closed, assigned to huguesdk, carmenbianca, victor-champonnois

[2022-09-01 13:38] victor-champonnois commented on #350
Recap discussion with @polchampion

Let's split the problem in two parts and process sequentially:

1. Remove the dependency and include the representative type to cooperator. The only issue is the lesptitpots DB: a lot of contact have a "representative" address type, which would break if the partner_contact_address module is removed. The solution would be just to change their address type to "Per

[2022-09-01 13:56] robinkeunen commented on #350
Part 1 is enough for now. Part 2 can be put in ROADMAP.rst and and in an issue for the time being.

I'm 95% sure lesptitspots is not aware of this module.

[2022-09-01 14:01] victor-champonnois commented on #350
I checked in all the *partner.py files and the type doesn't seem to be used in any logic. Because the field name "type" is so generic, I could not check in all the codebase.

I ran `update res_partner set type = 'private' where type = 'representative';` on the `lesptitspots-test-representative` DB. @polchampion Could you check if it breaks something ?

[2022-09-02 07:30] victor-champonnois commented on #350
PR in 12.0:
https://github.com/coopiteasy/vertical-cooperative/pull/362
https://github.com/coopiteasy/addons/pull/261

PR in 14.0:
https://github.com/coopiteasy/vertical-cooperative/pull/363
https://github.com/coopiteasy/addons/pull/262

[2022-09-02 13:22] victor-champonnois commented on #358
Actually it wasn't done, see https://gestion.coopiteasy.be/web#id=8924&action=475&active_id=260&model=project.task&view_type=form&menu_id=536

[2022-09-02 13:22] #358 closed, assigned to nobody

[2022-09-05 14:56] robinkeunen commented on #353
cf pr

[2022-09-05 14:56] #353 closed, assigned to nobody

[2022-09-05 15:00] #352 closed, assigned to nobody

[2022-09-05 15:07] #356 closed, assigned to victor-champonnois

[2022-09-05 15:37] #354 closed, assigned to nobody

[2022-09-05 16:00] #355 closed, assigned to nobody

[2022-09-06 08:45] robinkeunen commented on #345
@enricostano I need to have this conversation soon, I'll be working on this this week or the next.

[2022-09-08 09:32] polchampion commented on #350
@victor-champonnois Can't access `lesptitspots-test-representative`: the html on the login page is broken and I get a white screen after logging in

[2022-09-08 12:14] polchampion commented on #351
@victor-champonnois Not sure what should be tested, but the default filter "Anciens Coopérateurs" still exists in the Cooperators menu.

![screenshot-spp test coopiteasy be-2022 09 08-14_12_37](https://user-images.githubusercontent.com/92738727/189119032-f158456c-7681-47b0-9bcf-5202444972fd.png)

[2022-09-08 12:16] polchampion commented on #352
@victor-champonnois Successfully tested

[2022-09-08 12:28] polchampion commented on #355
LGTM

[2022-09-08 12:29] polchampion commented on #353
Pas testé car pas sûr quoi regarder

[2022-09-08 12:39] polchampion commented on #354
Successfully tested

[2022-09-08 13:18] victor-champonnois commented on #351
@polchampion What should be tested is that old cooperators do not appear in Cooperators bydefault. The task is not about the filter.

[2022-09-08 13:25] polchampion commented on #351
@victor-champonnois Sucessfully tested

[2022-09-08 13:36] victor-champonnois commented on #350
@polchampion  it's fixed !

[2022-09-09 06:52] polchampion commented on #350
@victor-champonnois LGTM
Tested on `lesptitspots-representative`
- [x] Open a contact
- [x] Link a personal address to another personal address as parent/child
- [x] Default address type is personal address for new contacts and linked contacts

[2022-09-13 15:01] victor-champonnois commented on #350
@polchampion should I put the deploy note in a task ?
Not ready !!!
Deploy note:
- merge the two PR :
https://github.com/coopiteasy/vertical-cooperative/pull/362
https://github.com/coopiteasy/addons/pull/261
- update cie-repositories+run gitaggregate
- update all with restart (the module partner_contact_address will now be in "to update" state)
- run the following script on all DBs (after the upda

[2022-09-13 15:04] victor-champonnois commented on #350
Ready to deploy in prod. @polchampion should I put the deploy note in a task ?
Deploy note:
- merge the two PR :
https://github.com/coopiteasy/vertical-cooperative/pull/362
https://github.com/coopiteasy/addons/pull/261
- update cie-repositories+run gitaggregate
- update all with restart (the module partner_contact_address will now be in "to update" state)
- run the following script on all DBs (aft

[2022-09-13 15:22] robinkeunen commented on #350
@victor-champonnois  If ran through the shell, it will need a `env.cr.commit()`

[2022-09-14 08:40] victor-champonnois commented on #350
@polchampion
We need to be careful with this one because it is the same kind of stuff that broke the bees DB when we deployed the komunigi refactoring. Except now we know that the script must be run after the updates :-)
- I ran the script on all DB in test.
- It fails on some backup DBs (e.g. spp-test-theo-2022-02-28 ,oufticoop-test-T8621, coopiteasy-test-2022-05-31), but not for up to date DBs.

[2022-09-15 07:53] polchampion commented on #350
@victor-champonnois Sur `lasource-test`, j'ai :
- [x] créé une demande de souscitpion pour un partenaire 'test test' : le contact créé est une adresse de type contact --> ok
- [ ] créé une [demande de souscription](https://lasource.test.coopiteasy.be/web#id=122&action=480&model=subscription.request&view_type=form&menu_id=298) pour une société 'Société de test' : j'ai une erreur copiée ci-dessous.

[2022-09-15 12:58] victor-champonnois commented on #350
@polchampion le problème arrive déjà en 12.0. Je créé une issue à part là dessus.

[2022-09-15 13:00] victor-champonnois opened #371 "Error when validating a company sub request related to an existing cooperator"
Found by @polchampion in https://github.com/coopiteasy/vertical-cooperative/issues/350

Sur `lasource-test`, j'ai :
- [x] créé une demande de souscitpion pour un partenaire 'test test' : le contact créé est une adresse de type contact --> ok
- [ ] créé une [demande de souscription](https://lasource.test.coopiteasy.be/web#id=122&action=480&model=subscription.request&view_type=form&menu_id=298) pour

[2022-09-16 09:41] victor-champonnois commented on #371
@polchampion
The error happens here https://github.com/coopiteasy/vertical-cooperative/blob/ab367066ab4f371d18ed437f04005d9ff7e59f23/cooperator/models/subscription_request.py#L760
 because it is writing to a contact a parent_id that is the same partner as the contact itself. (i.e. in this case contact = partner)
The contact on which we are writing the parent is searched using the email. In Pol's e

[2022-09-16 14:16] polchampion commented on #371
My mistake: The `subscription_request.partner_id` field "Coopérateur" must not be filled. It must only be filled if the candidate cooperator already has an odoo profile. So the error was to be expected. There is currently no way to select an existing representative for a company susciption request.

[2022-09-16 14:16] #371 closed, assigned to nobody

[2022-09-21 08:50] victor-champonnois opened #385 "Remove `sale` from cooperator dependencies?"
`sale` does not seem to be needed for the `cooperator` module. I think we can remove it.

Preliminary tests:
- [x] Removing sale from the dependencies and then installing cooperator doesn't raise any error or warning.
- [x] Testing simple flows works OK
- [x] I did a quick search in the code for stuff that would "seem" to depend on sale but did not find anything.

some observations:
- `product` is

[2022-09-21 09:07] victor-champonnois opened #386 "cooperator: rename old_member to former_member"
former_member seems like a more proper way to define a partner who is no longer member.
- Low priority
- Related to the discussion in this PR https://github.com/coopiteasy/vertical-cooperative/pull/372

[2022-09-23 16:30] huguesdk commented on #386
and also harmonize field description strings for `member` and `old_member` (and their translations) between “effective member” or “effective cooperator”. see also [robinkeunen’s remark here](https://github.com/coopiteasy/vertical-cooperative/pull/372#discussion_r977391701).

[2022-09-26 08:49] #227 closed, assigned to nobody

[2022-09-26 08:51] victor-champonnois commented on #288
fixed by https://github.com/coopiteasy/vertical-cooperative/pull/372

[2022-09-26 08:55] robinkeunen commented on #279
cf #290

[2022-09-26 08:58] robinkeunen commented on #335
@Ujeeee did you see the modules are ready in v14 ? :-)

[2022-09-26 08:58] #335 closed, assigned to nobody

[2022-09-26 09:02] victor-champonnois commented on #324
seems to be fixed (no error on blank DB and on demain.test)

[2022-09-26 09:02] #324 closed, assigned to nobody

[2022-09-26 09:07] victor-champonnois commented on #321
@polchampion Tested on lenid.test [here](https://lenid.test.coopiteasy.be/web#id=3421&action=413&model=account.invoice&view_type=form&menu_id=281), the name seems to be displayed properly. Can I close the issue?

[2022-09-26 09:17] victor-champonnois commented on #319
@robinkeunen What do you think about:

Tested and it seems to be OK regarding the form layout (enough space in the field for a reasonably long name).

Computer layout

![image](https://user-images.githubusercontent.com/92781722/192239647-b0e5f547-7ab0-4272-8272-ba5140f254cd.png)

Mobile layout

![image](https://user-images.githubusercontent.com/92781722/192239506-52149b15-0656-4953-ad5e-0f373eb552

[2022-09-26 09:24] carmenbianca commented on #241
not sure why this was closed

[2022-09-26 09:40] robinkeunen commented on #204
2022-09-26

# vertical-cooperative

- renamed models and xml_id suffixes
- blocked by mig14, ok now
- starting to move to oca/cooperative by the end of the week

- 10 refactoring issues in the backlog
- going through them when stuck on obeesdoo

| Title | Priorities | Time |
|---|---|---|
| UX: reorganise configurations https://github.com/OCA/cooperative/issues/26|  1 | 16h |
| ~~Remove disabled c

[2022-09-26 09:56] huguesdk opened #389 "remove duplication from email templates"
currently, email templates contain a lot of duplication:

*   the main formatting markup (`div` with styling in which the whole content is wrapped)
*   the greetings (“Hello `${firstname}`,”)
*   the signature and the company information

there are currently 8 email templates, and this content is duplicated across them. this makes updating any of those parts difficult, and also makes translations

[2022-09-27 09:18] #288 closed, assigned to nobody

[2022-09-27 09:38] robinkeunen commented on #241
I thought it would be included in the merge of 12.0-komunigi into 12.0. Can you

- [ ] ~~deploy in test~~
- [ ] ~~notify Pol~~
- [ ] ~~merge~~
- [ ] ~~and port to 14.0~~

[2022-09-27 09:48] robinkeunen commented on #319
I think it's a good idea and @enricostano seems to agree with this. I'd ask the functional team though, they know better.

[2022-09-27 10:20] #350 closed, assigned to nobody

[2022-09-27 15:29] robinkeunen commented on #285
fixed by  #370

[2022-09-27 15:29] #285 closed, assigned to nobody

[2022-09-27 15:40] robinkeunen commented on #289
- move the configurations on the company views to a specific "cooperator" menu in res.config.setting (general parameters).
- add access to this new view from the Cooperator / Configuration menu

[2022-09-27 15:44] robinkeunen commented on #385
- [ ] Check that sale remains installed when removed from dependencies.

[2022-09-27 15:47] robinkeunen commented on #348
Definitely replace by OCA's module

[2022-09-27 15:55] robinkeunen commented on #284
cf #345

[2022-09-27 15:55] #284 closed, assigned to nobody

[2022-09-27 15:59] robinkeunen commented on #331
Ask analysts for relevance and for precise terminilogy.

[2022-09-27 16:11] robinkeunen commented on #204
@victor-champonnois Sur base de mes discussions avec @huguesdk , j'ai ajouté une colonne "priorité" au tableau des refactoring ci-dessus.

[2022-09-28 20:59] ferdymercury commented on #359
Thanks for your wonderful work on moving towards OCA!

One question, is there a (very rough) time estimate when the migration will be complete? Will it target 14.0 and 12.0? Or also 16.0 once it is released?

Thanks again, regards.

[2022-09-29 08:58] carmenbianca commented on #241
Poorly written SQL query that gives you all partners violating the constraint:

[code]

[2022-09-29 13:00] robinkeunen commented on #359
Hey @ferdymercury ,

- cooperators modules in v14 are here : https://github.com/coopiteasy/vertical-cooperative/tree/14.0
- we're moving modules to the oca/cooperative repository starting this week
- 16.0 is not yet planned, it will depend on the customers we get. If you want to start working on it, please feel free, we will review eagerly :-)

[2022-09-30 11:37] ferdymercury commented on #359
Thanks for the info! Do you know by chance if the obeesdoo modules are also available for v14?
We are now using all these from odoo v12:

- beesdoo_account
- beesdoo_base
- beesdoo_easy_my_coop
- beesdoo_pos
- beesdoo_pos_coop_status
- beesdoo_product
- beesdoo_shift
- beesdoo_shift_attendance
- beesdoo_website_eater
- beesdoo_website_shift
- beesdoo_worker_status
- easy_my_coop
- easy_my_coop_eas

[2022-09-30 13:12] robinkeunen commented on #359
Nice to hear that our modules are used elsewhere :-)

We won't port the beesdoo modules to v14, we'll jump directly to v16. You probably noticed we're busy splitting all these modules as well. Tell us if you have trouble upgrading those, we might give a few pointers.

To port on v16, you will need to adapt the code of v14 to the new code that will be out next week. Then you must write migration sc

[2022-09-30 14:12] ferdymercury commented on #359
Our coop supermarket (in Valencia) is planning to migrate from a closed-source ERP to odoo around the end of the year. The script I am writing just ports the data (excel files) to Odoo via its API. My question is, could I just migrate from the Excel files to Odoo v16? Or your modules won't just be available in Odoo16 unless someone has written migration scripts for them?

[2022-10-03 09:30] robinkeunen commented on #359
If you're importing data directly to v16, you won't need migration scripts for you data. You will only need the code available in v16. We will probably port cooperator modules in early 2023 and beesdoo modules later in the year, nothing sure though.

[2022-10-04 08:52] enricostano commented on #345
@robinkeunen sorry, I missed your comment. Would you mind a call talking about this? Thanks!

[2022-10-04 13:12] ferdymercury commented on #359
Thanks for the clarification and congrats for the OCA v14 migration!

Just in case I find some time in the future, how many hours do you estimate it would take me to port the OCA cooperators module from v14 to v16? I have experience with C++ and Python programming, but none with your modules / addons.

[2022-10-04 13:19] robinkeunen commented on #359
I'm afraid it's a bit hard to tell because we don't know much about odoo 16 yet. Plus you'd need to get familiar with the odoo framework first. For all the modules, without the migration scripts, I'd say between 40 and 80 hours ?

[2022-10-04 13:22] ferdymercury commented on #359
Ok, good to know, thanks for the info. Then it's something I surely can't do, as I am just volunteering a couple of hours here and there during my free time apart from my normal job :) .

[2022-10-06 07:46] victor-champonnois commented on #389
closed in favor of https://github.com/OCA/cooperative/issues/14

[2022-10-06 07:46] #389 closed, assigned to nobody

[2022-10-06 07:47] victor-champonnois commented on #386
closed in favor of https://github.com/OCA/cooperative/issues/15

[2022-10-06 07:47] #386 closed, assigned to nobody

[2022-10-06 07:50] victor-champonnois commented on #385
closed in favor of https://github.com/OCA/cooperative/issues/16

[2022-10-06 07:50] #385 closed, assigned to nobody

[2022-10-06 07:51] victor-champonnois commented on #351
fixed by https://github.com/coopiteasy/vertical-cooperative/pull/372

[2022-10-06 07:51] #351 closed, assigned to nobody

[2022-10-06 07:53] victor-champonnois commented on #348
closed in favor of https://github.com/OCA/cooperative/issues/17

[2022-10-06 07:53] #348 closed, assigned to nobody

[2022-10-06 07:56] victor-champonnois commented on #345
closed in favor of https://github.com/OCA/cooperative/issues/18

[2022-10-06 07:56] #345 closed, assigned to nobody

[2022-10-06 08:07] victor-champonnois commented on #340
closed in favor of https://github.com/OCA/cooperative/issues/19

[2022-10-06 08:07] #340 closed, assigned to nobody

[2022-10-06 08:08] victor-champonnois commented on #331
closed in favor of https://github.com/OCA/cooperative/issues/20

[2022-10-06 08:08] #331 closed, assigned to nobody

[2022-10-06 08:10] victor-champonnois commented on #323
closed in favor of https://github.com/OCA/cooperative/issues/21

[2022-10-06 08:10] #323 closed, assigned to nobody

[2022-10-06 08:11] victor-champonnois commented on #322
closed in favor of https://github.com/OCA/cooperative/issues/22

[2022-10-06 08:11] #322 closed, assigned to nobody

[2022-10-06 08:13] victor-champonnois commented on #319
closed in favor of https://github.com/OCA/cooperative/issues/23

[2022-10-06 08:13] #319 closed, assigned to nobody

[2022-10-06 08:15] victor-champonnois commented on #318
closing in favor of https://github.com/OCA/cooperative/issues/18

[2022-10-06 08:15] #318 closed, assigned to nobody

[2022-10-06 08:17] victor-champonnois commented on #303
closed in favor of https://github.com/OCA/cooperative/issues/24

[2022-10-06 08:17] #303 closed, assigned to nobody

[2022-10-06 08:20] victor-champonnois commented on #290
closed in favor of https://github.com/OCA/cooperative/issues/25

[2022-10-06 08:20] #290 closed, assigned to robinkeunen

[2022-10-06 08:22] victor-champonnois commented on #289
closed in favor of https://github.com/OCA/cooperative/issues/26

[2022-10-06 08:22] #289 closed, assigned to nobody

[2022-10-06 08:23] victor-champonnois commented on #287
closed in favor of https://github.com/OCA/cooperative/issues/27

[2022-10-06 08:23] #287 closed, assigned to nobody

[2022-10-06 08:24] victor-champonnois commented on #286
closed in favor of https://github.com/OCA/cooperative/issues/28

[2022-10-06 08:24] #286 closed, assigned to nobody

[2022-10-06 08:27] victor-champonnois commented on #279
@robinkeunen do we move this issue to OCA ? Is it still relevant now that we know more about test best practices ?

[2022-10-06 08:29] victor-champonnois commented on #241
Leaving this issue here (not moving it to OCA), since I assume it will be closed soon.

[2022-10-06 09:15] victor-champonnois commented on #321
Retested  by @polchampion and it looks OK, closing

[2022-10-06 09:15] #321 closed, assigned to nobody

[2022-10-06 12:41] robinkeunen commented on #279
Yes I think it is still relevant. There are plenty of demo data that could be based on standard data. It is different than creating test data in the unit tests instead of using demo data.

[2022-10-11 05:50] Ujeeee commented on #335
not yet, I will check it soon. Thank you

On Mon, Sep 26, 2022 at 3:58 PM Robin Keunen ***@***.***>
wrote:

[2022-10-16 23:19] #241 closed, assigned to carmenbianca

[2022-10-17 09:58] robinkeunen commented on #359
| module | [12.0][REM] | [14.0][REM] | [12.0][ADD] | [14.0][ADD] | time | comment |
| :----- | :---------: | :---------: | :---------: | :---------: | :--- | :------ |
| `cooperator` | ☑️ | ☑️ | ✅ | ✅ | 0 | |
| `cooperator_api` | | ✖️ | | ✖️ | 0 | not ported in v14 |
| `cooperator_api_logs` |  | ✖️ | | ✖️ | 0 | idem |
| `cooperator_portal` | ☑️ | ☑️ | ✅ | ✅ | 0 | |
| `cooperator_website` | ☑️ | ☑️

[2022-10-24 09:33] huguesdk commented on #359
moving some modules to other repos might need some extra work. for example, OCA/website#914 is currently blocked because it lowers test coverage, so it has been flagged as “needs tests”.

[2022-10-24 12:29] huguesdk commented on #359
## current status

*   OCA/l10n-belgium#150 is blocked by failing tests due to the fact that `cooperator` removes the unique constraint on bank accounts. coopiteasy/vertical-cooperative#310 must be re-created in [OCA/cooperative](https://github.com/OCA/cooperative) (in 12.0 and 14.0) and a migration script must be added to re-enable the unique constraint.
*   OCA/website#914 is blocked by missing

[2022-11-22 10:52] robinkeunen commented on #204
2022-11-22

# oca/cooperative

| module | PR | time |
| :----- | :- | :---|
| portal_recaptcha | | 4h |
| cooperator_website_recaptcha | | 4h |
| l10n_be_cooperator_portal |  | 8h |
| l10n_be_cooperator|  | 4h |
| l10n_ch_cooperator | | 4h |
| l10n_es_cooperator | do not do | - |
| l10n_fr_cooperator | | 4h |
| https://github.com/OCA/cooperative/issues/18 | | 8h+ |
| https://github.com/OCA/coopera

[2022-11-22 10:59] victor-champonnois commented on #204
@robinkeunen beesdoo_print_label will maybe take more than 4 hours, cf our previous discussion : https://github.com/beescoop/Obeesdoo/issues/400

[2022-11-22 11:07] victor-champonnois commented on #204
I don't see beesdoo_worker_status in https://user-images.githubusercontent.com/17589077/149927982-58f1b329-9d15-48d3-b331-77741f7c2e87.png, am I missing sthg ?

[2022-11-22 11:08] victor-champonnois commented on #204
If we want to be safer, 32h would be better for beesdoo_purchase